.landing-page-container{
  display: flex;
  width: 100%;
  min-height: 100%;
}

.half-container{
  flex-basis: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width:767px){
  .landing-page-container{
    flex-flow: column;
  }

  .half-container{
    width: 100%;
  }
}